<h1>Hello, Rails!x</h1>
<p>Find me in apviews/welcome/index.html.erb</p>

<p> This is a sample intro paragraph for trial purpose. </p>

<table> 
	<tr>
		<td> Row 1 </td>
	</tr>
</table>

<div id="top1">
    <p class="top">
        <a href="http://espnstar.com">Menu</a></p>
</div>
<div id="top2">
    <p class="top"><a href="http://mangastream.com">Options</a></p>
</div>
<div id="top3">
    <p class="top"><a href="http://jsfiddle.com"> Setting</a></p>
</div>
<div id="header">
    
<h1 id="title">Welcome to <em>Kanzen Lama's</em> Creation </h1>

</div>
<div id="right">
     <h4 style="text-align:center">About me </h4>

    <p class="aboutMe">My name is kanzen. I live in Woodside, New York. I am currently a student in Stony Brook University. My major is Computer Science and i plan to become a programmer when i graduate.</p>
     <h4>Colleges Attended</h4>
    <ol>
        <li>Malpi institute</li>
        <li>Long Island University</li>
        <li>Hunter College</li>
        <li>Stony Brook University</li>
    </ol>
     <h4>Work Experience</h4>

    <ul>
        <li>Korean Grocery</li>
        <li>Yellow Cab Driver</li>
        <li>150cc-250cc motorbike rider</li>
    </ul>
    <table>
        <tr id="images">
            <td>
                <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn2/10122_160326876132_7352328_n.jpg" />
            </td>
            <td>
                <img src="https://sphotos-b.xx.fbcdn.net/hphotos-ash4/9520_179962706132_3326035_n.jpg" />
            </td>
            <td>
                <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/10122_160324146132_6854215_n.jpg" />
            </td>
            <td>
                <img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/535379_290727411054159_1811817977_n.jpg"/> 
            </td>
        </tr>
    </table>
</div>
<div id="footer"> <a href="http://apple.com"> <strong>Contact me: dawalama04@gmail.com</strong></a>

</div>
